[Unit]
Description=Gunicorn instance to serve RPi Monitor

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/rpi-monitor-server
ExecStart=/opt/rpi-monitor-server/venv/bin/gunicorn server:app --configuration=/opt/rpi-monitor-server/gunicorn.conf
RestartSec=5

[Install]
WantedBy=multi-user.target
